/* sidebar */

#info-posts {
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    background-color: #3a4456;
    border-radius: 5px;
    padding: 42px 15px;
    padding-bottom: 42px;
    padding-bottom: 0px;
    height: 100%;
}

.info #info-posts .block-post {
    margin-bottom: 60px;
}

section.info .content-outer #page-content #info-posts .block-post p {
    margin-bottom: 15px;
}

#sidebar {
    background-color: #3a4456;
    border-radius: 5px;
    padding: 0 15px;
}

#sidebar h5 {
    font: 18px/30px notosans-bold, sans-serif;
    font-weight: normal;
    margin-bottom: 6px;
}

#sidebar .widget {
    margin-bottom: 24px;
}

#secondary {
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    background-color: #3a4456;
    border-radius: 5px;
    padding: 42px 15px;
    padding-bottom: 0px;
    height: 100%;
}


/* Link list */

#sidebar .link-list {
    margin: 12px 0 18px 0;
    padding: 0;
}

#sidebar .link-list li {
    line-height: 24px;
}

#sidebar .link-list li a {
    border: none;
    color: #838C95;
}

#sidebar .link-list li a:hover {
    color: #313131;
}


/* tag cloud */

#sidebar .tagcloud {
    margin: 18px 0 18px -12px;
    padding: 0;
}

#sidebar .tagcloud a {
    font: bold 12px/24px notosans-regular, sans-serif !important;
    display: inline-block;
    margin: 0 0 12px 12px;
    padding: 6px 10px;
    position: relative;
    text-transform: uppercase;
    background: #D3D9D9;
    text-decoration: none;
    letter-spacing: 1px;
    color: #6D7E7E;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 3px;
}

#sidebar .tagcloud a:hover {
    color: #fff;
    background: #11ABB0;
}


/* Photostream */

#sidebar .photostream {
    list-style: none;
    margin: 18px 0 24px -15px;
    padding: 0;
    overflow: hidden;
}

#sidebar .photostream li {
    display: inline-block;
    margin: 0 0 15px 15px;
    padding: 0;
}

#sidebar .photostream li a img {
    border-radius: 3px;
    height: 54px;
    width: 54px;
    vertical-align: bottom;
}


/* search */

#sidebar .widget_search form {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 24px 0 36px 0;
}

#sidebar .search-field {
    padding: 10px 0px;
    padding-left: 5px;
    padding-right: 10px;
    border: none;
    width: 95%;
    min-width: 150px;
    border-radius: 3px;
    background-color: #838C95;
    color: #fff;
}

.screen-reader-text {
    display: none;
}

#sidebar .search-field:focus {
    box-shadow: 0 0 15px #77608d;
}

.search-submit {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 39px;
    color: #000;
    cursor: pointer;
    border-radius: 3px;
    outline: 0;
    font-size: 1rem;
    border: 0;
    padding: 0px 15px;
}

.search-form label {
    margin-bottom: 0px;
}

ul,
ol {
    margin: 0px !important;
}

.widget ul {
    margin: 0px;
    margin-left: 15px !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

.widget ul li a {
    color: #fff;
}

.widget_pages ul li.current_page_item a {
    color: #1cb883 !important;
}

.tech__icon .size-thumbnails {
    margin-top: 15px;
    margin-right: auto;
    width: 241px;
    height: 154px;
    object-fit: cover;
}

.block-post .tech__icon .size-thumbnails {
    margin-bottom: 15px;
}

.block-post {
    border-bottom: 1px solid #6c778b;
}

.block-post a {
    margin-bottom: 15px;
}

.textwidget div {
    display: flex;
}

#sidebar .size-thumbnail {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wp-calendar-nav {
    display: none;
}

.wp-calendar-table {
    width: 100%;
}

.info {
    padding-top: 54px;
    padding-bottom: 54px;
    background-color: #f1f1f3;
}

.subcategory .big-slider__item img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 17px;
}

.big-slider__subtitle p {
    font-size: 13px;
    font-family: 'MuseoSansCyrl300', sans-serif;
    color: #404048;
    letter-spacing: 0.02em;
    line-height: 1.2em;
    margin: 0px 10px;
    text-align: center;
}

.reviews {
    padding-bottom: 30px;
}

.rl-loading {
    opacity: 1 !important;
}

.facebook {
    margin-right: 9px;
}

.services-menu button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: 2px solid #fafafb;
    transition: all 0.3s ease;
    margin: 0px 10px;
    background-color: #fafafb;
}

.services-menu__link {
    transition: all 0.3s ease;
}

.services-menu button:hover,
.services-menu button.active {
    border: 2px solid #b81c31;
    color: #b81c31;
    text-decoration: none;
}

.services-menu button:hover .services-menu__link,
.services-menu button.active .services-menu__link {
    color: #b81c31;
    text-decoration: none;
}

.services-menu button.active .services-menu__info {
    color: #b81c31;
    text-decoration: none;
}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}

.contacts-header button {
    padding: 15px 20px;
    font-size: 15.8px;
    font-family: 'MuseoSansCyrl700', sans-serif;
    color: #a1a6af;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.about-header .services-menu button,
.about-header .services-menu a {
    padding: 15px 20px;
    font-size: 15.8px;
    font-family: 'MuseoSansCyrl700', sans-serif;
    color: #a1a6af;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    border: 2px solid #fafafb;
}

.about-header .services-menu button.active,
.about-header .services-menu button:hover,
.about-header .services-menu a.active,
.about-header .services-menu a:hover {
    color: #b81c31;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #b81c31;
}

.modal .wpcf7 {
    text-align: center;
}

.modal .input-textarea {
    outline: none;
    border: 0;
    border-bottom: 1px solid #acacac;
    max-height: 100px;
    min-height: 30px;
    width: 250px;
    font-size: 13px;
    font-weight: normal;
    color: #797979;
    padding: 12px 0px;
    text-decoration: none;
    text-transform: all 0.3s ease;
    margin-bottom: 7px;
    margin-top: 7px;
}

.modal .input-textarea:focus {
    border-bottom: 1px solid #000;
}

.wpcf7-response-output {
    color: #000;
}

.breadcrumbs__link span {
    font-size: 15.6px;
    color: #7e838d;
    display: block;
    border-bottom: 1px solid #fafafb;
    font-family: 'MuseoSansCyrl300', sans-serif;
}

.breadcrumbs__link span:hover {
    color: #081d42;
    border-bottom: 1px solid #081d42;
    text-decoration: none;
}

.breadcrumbs__current {
    font-size: 15.6px;
    color: #7e838d;
    display: block;
    font-family: 'MuseoSansCyrl300', sans-serif;
}

.breadcrumbs span a {
    text-decoration: none;
}

.breadcrumbs span:nth-child(3),
.breadcrumbs span:nth-child(2) {
    display: none;
}

.error {
    background: url(../img/404bg.jpg) center/cover no-repeat;
    height: 75vh;
}

.error .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.error-block {
    margin: 25vh 0px;
    text-align: center;
}

.error-title {
    font-size: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 9px;
}

.error-subtitle {
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.error-btn {
    height: 50px;
    margin: 0 auto 10px auto;
    display: inline-block;
    line-height: 43px;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    padding: 0px 20px;
    transition: all 0.3s ease;
}

.error-btn:hover {
    color: #e3b0cb;
    border: 2px solid #e3b0cb;
    transition: all 0.3s ease;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .fixed-crossbrowser-background {
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: top center;
        background-image: url("../img/HOME-assets/city-bg.png");
        opacity: 1;
        z-index: -1;
    }
    .header {
        background: none !important;
    }
}

#sidebar {
    max-width: 320px;
}

#primary {
    color: #000;
}

.search-section .container {
    display: flex;
    justify-content: space-between;
}

.icon-menu {
    display: none;
}

@media (max-width: 992px) {
    .shadow {
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease;
    }
    .shadow.active {
        opacity: 1;
        visibility: visible;
    }
    body.lock {
        overflow: hidden;
    }
    .icon-menu {
        display: block;
        position: relative;
        width: 20px;
        height: 20px;
        z-index: 999;
        background-color: inherit;
        outline: none;
        border: 0;
        transition: all 0.3s ease;
    }
    .icon-menu span {
        position: absolute;
        background-color: #3a4456;
        position: absolute;
        left: 0;
        width: 20px;
        height: 2px;
        top: 9px;
        transition: all 0.2s ease 0s;
        border-radius: 10px;
    }
    .icon-menu:before,
    .icon-menu:after {
        content: '';
        background-color: #3a4456;
        position: absolute;
        width: 25px;
        height: 2px;
        left: 0;
        transition: all 0.2s ease 0s;
        border-radius: 10px;
    }
    .icon-menu:before {
        top: 0;
    }
    .icon-menu:after {
        bottom: 0;
    }
    .icon-menu.active span {
        transform: scale(0);
        background-color: #fff;
    }
    .icon-menu.active:before {
        transform: rotate(45deg);
        top: 9px;
        border-radius: 10px;
        background-color: #fff;
    }
    .icon-menu.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
        border-radius: 10px;
        background-color: #fff;
    }
    .menu-body {
        position: fixed;
        height: 100%;
        width: 60%;
        right: 0;
        top: 0;
        overflow: auto;
        background-color: #3a4456;
        opacity: 0.9;
        padding: 90px 20px 30px 20px;
        z-index: 99;
        height: 100%;
        flex-direction: column;
        text-align: right;
        overflow: hidden;
        transition: all 0.4s ease;
        transform: translateX(100%);
    }
    .menu-body.active {
        transform: translateX(0%);
    }
    .menu-body::before {
        content: "";
        height: 90px;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    .link-logo {
        display: flex;
        z-index: 3;
    }
    .list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
    .header__menu .menu-item a {
        font-size: 18px;
        line-height: 21px;
        font-weight: normal;
        margin-right: 0px;
        margin-left: 0px;
        text-decoration: none;
        color: #fff;
        display: block;
        height: 41px;
        line-height: 41px;
        text-decoration: none;
    }
    .list-item {
        margin: 15px 0px;
        display: block;
        text-align: right;
        margin: 0px;
        text-decoration: none;
    }
    .header__menu .menu-item a:after {
        display: none;
    }
    .header__menu .header__list {
        display: flex;
        flex-direction: column;
    }
    .header__menu {
        padding-top: 53px;
    }
    .menu-body .header__menu ul li {
        border: none;
    }
    .menu-body .header__menu ul li:hover,
    .menu-body .header__menu ul li.current-menu-item {
        border-bottom: 1px solid #fff;
    }
}

@media (max-width: 398px) {
    .menu-body {
        width: 55%;
    }
    .modal-content input,
    .modal-content textarea,
    .modal .input-textarea {
        width: 210px;
    }
}

.header {
    padding-top: 145px;
}

@media (max-width: 768px) {
    .services-header .services-menu button {
        margin: 20px 0px;
    }
}